{% extends 'base.html' %}
{% block content %}

<!-- Title Section -->
<div class="row">
	<div class="col-12 display-4 pb-1"><i class="fas fa-paw"> Welcome To {{page_title}} </i></div>
</div>
<!-- Left Card Section -->
<div class="container"> 
	<div class="row"> 
		<div class="col-lg-6 mb-4 "> 
			<div class="card "> 
				<img class="card-img-top"> 
					<div class="card-body"> 
						<div class="cardbackground">
							<div class="cardcontent p-5">
								<h2 class="card-title">Edit Your Profile</h2> 
								<p class="intro-text">Change the fields below to edit your profile. </p>
									<p class="intro-text">Or Click the button below to return to the profile page </p>
                                    <p><a href="contact" class="btn btn-sm"> 
																	<i class="fas fa-paw"></i></a>
																<button onclick="window.location.href='{{ url_for('profile', email_address=session['user'])}}';" class="button" ><span>Profile </span></button></p>
										<!-- Booking Form -->
										<form action="{{ url_for('updateprofile', email_address=session['user'])}}" method="POST" >
											<div class="form-group">
												<label for="email_address">Email address</label>
												<input type="email" class="form-control" name= "email_address" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{task2.email_address}}" >
													<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
												</div>
                                                <div class="form-group">
													<label for="password">Password</label>
													<input type="password" class="form-control" id="exampleInputPassword1" name="password" value="{{task2.password}}">
													</div>
												<div class="form-group">
													<label for="petname">Pet Name</label>
													<input type="text" class="form-control" id="petname" name="petname" value="{{task2.petname}}">
													</div>
													<div class="form-group">
														<label for="first_name">First Name</label>
														<input type="text" class="form-control" id="first_name" name="first_name" value="{{task2.first_name}}">
														</div>

														<div class="form-group">
															<label for="last_name">Surname</label>
															<input type="text" class="form-control" id="last_name"  name="last_name" value="{{task2.last_name}}">
															</div>

															<button type="submit" class="btn btn-primary"><i class="fas fa-paw "> Edit Booking</i></button>
														</form> <br>

															
								
                                                        </div> 
													</div> 
												</div> 
											</div>
										</div>

										<!-- Right Card Section -->
								<div class="col-lg-6 mb-4 pt-1"> 
									<div class="card"> 
										<img class="card-img-top"> 
											<div class="card-body p-0">
												<!-- Beginning of Loop Section -->
												{% for member in doggie %}
												<div class="cardcontent pt-5">
													<h2 class="card-title"><i class="fas fa-paw "></i><a href="{{ member.url }}">  {{ member.service }}</a></h2> 
													<p class="card-text"> 
														<p>{{ member.description }}</p>
													</p> 
													<p>
														<img class="img-responsive img-fluid" src="{{ member.image_source }}" alt="Picture of {{ member.name }}">
															<p><a href="grooming" class="btn btn-sm"> 
																	<i class="fas fa-paw fa-2x"></i></a>
																<button onclick="window.location.href='{{ member.url }}';" class="button" ><span>Enter</span></button>
															</p>
														</p>
													</div>
													{% endfor %}
												</div>
											</div> 
										</div> 
									</div> 
								</div> 
										{% endblock %}

										