{% extends 'base.html' %}
{% block home %}

    
    <div class="row">
    <div class="col-12"><h1>{{page_title}}</h1></div>
  
    </div>

<div class="container"> 
        <div class="row"> 
            <div class="col-lg-6 mb-4"> 
                <div class="card"> 
                    <img class="card-img-top" src="" alt=""> 
                    <div class="cardbackground">
                    <div class="cardcontent"> 
                        <h2 class="card-title">Welcome to Doggie DayCare</h2> 
                        <p class="card-text"> 
                            We are a one stop shop for all your Doggie needs.
                            We provide grooming, daycare and overnight services.
                            Click the links on the left for more info.
                            If you would like to contact us, click the link below.
                        </p> 
                        <a href="contact" class="btn btn-sm"> 
                            <i class="fas fa-paw"></i></a>
                        <button onclick="window.location.href='{{ url_for('contact') }}';" class="button" ><span>Contact </span></button> 
                         
                    
                    
  </div>
 </div>
                </div></div> 
            
            <div class="col-lg-6 mb-4"> 
                <div class="card"> 
                    <img class="card-img-top" src="" alt=""> 
                    
                    <div class="card-body"> 

                    
                    {% for member in doggie %}
                   <div class="cardcontent">
                        <h2 class="card-title"><i class="fas fa-paw"></i><a href="{{ member.url }}">  {{ member.service }}</a></h2> 
                        <p class="card-text"> 
                           <p>{{ member.description }}</p>
                        </p> 
                           <p>
                        <img class="img-responsive img-fluid" src="{{ member.image_source }}" alt="Picture of {{ member.name }}">
                   <p><a href="{{ member.url }}" class="btn btn-sm"> 
                            <i class="fas fa-paw"></i></a>
                      
                        <button onclick="window.location.href='{{ member.url }}';" class="button" ><span>Enter</span></button>
                        </p>
                           </p>
                    </div>
                   {% endfor %}
                    </div>
                    </div>
                </div> 
            </div> 
            
        </div> 
    

<!--<div class="row">
  <div class="col-12"><h1><a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a></h1></div>
  
</div> -->


{% endblock %}

    
