{% extends 'base.html' %}
{% block home %}
<!-- PAGE TITLE-->
<div class="row">
	<div class="col-12 display-4"><i class="fas fa-paw"> Welcome To {{page_title}} </i></div>
</div>
<!-- END PAGE TITLE-->
<!-- lEFT CARD-->
<div class="container"> 
	<div class="row"> 
		<div class="col-lg-6 mb-4 pt-1"> 
			<div class="card"> 
				<img class="card-img-top "> 
					<div class="cardbackground ">
						<div class="cardcontent p-5"> 
                     		<h3 class="card-title">We are a one stop shop for all your Doggie needs.</h3>
							<p class="card-text"> 
								<p>We provide grooming, daycare and overnight services.</p>
								<p> Click the links below for more info.</p>
								<p> If you would like to contact us, click the contact button below.</p>
							</p> 
							<div>
								<div>
									<div class="d-flex flex-column bd-highlight mb-3">
										<div class="p-2 bd-highlight"><h2>Services We Provide</h2></div>
										<div class="p-2 bd-highlight"><a class="" href="daycare"><i class="fas fa-dog fa-5x"></i> Daycare</a></div>
										<div class="p-2 bd-highlight"><a class="" href="overnight"><i class="fas fa-bed fa-5x"> </i> Sleepover</a></div>
										<div class="p-2 bd-highlight"><a class="" href="grooming"><i class="fas fa-cut fa-5x"> </i> Grooming</a></div>
									</div>
								</div>
							</div>
							<a href="contact" class="btn btn-sm"> 
								<i class="fas fa-paw"></i></a>
							<button onclick="window.location.href='{{ url_for('contact') }}';" class="button" ><span>Contact </span></button> 
						</div>
					</div>
				</div></div> 
			<!-- END LEFT CARD-->
			<!-- RIGHT CARD-->
			<div class="col-lg-6 mb-4 pt-1"> 
				<div class="card"> 
					<img class="card-img-top"> 
						<div class="card-body"> 
							{% for member in doggie %}
							<div class="cardcontent pt-5">
								<h2 class="card-title"><i class="fas fa-paw"></i><a href="{{ member.url }}">  {{ member.service }}</a></h2> 
								<p class="card-text"> 
									<p>{{ member.description }}</p>
								</p> 
								<p>
									<img class="img-responsive img-fluid" src="{{ member.image_source }}" alt="Picture of {{ member.name }}">
										<p><a href="{{ member.url }}" class="btn btn-sm"> 
												<i class="fas fa-paw"></i></a>
											<button onclick="window.location.href='{{ member.url }}';" class="button" ><span>Enter</span></button>
										</p>
									</p>
								</div>
								{% endfor %}
							</div>
						</div>
					</div> 
				</div> 
			</div> 
			<!-- END RIGHT CARD-->
			{% endblock %}