{% extends 'base.html' %}
{% block content %}
<!-- Title Section -->
<div class="row pb-1">
	<div class="col-12 display-4"><i class="fas fa-paw"> Welcome To {{page_title}} </i></div>
</div>
<!-- Left Card Section -->
<div class="cardbackground ">
 <div class="scrim">
	<div class="cardcontent imageborder">
   
		<section class="mb-4">
			<p class="text-center w-responsive mx-auto mb-5"></p>
			<p>Please Log In Below</p>
			<div class="row">
				<div class="col-md-9 mb-md-0 mb-5 p-5">
					<!-- Register Form Section -->
					{% with messages = get_flashed_messages() %}
					{% if messages %}
					<div class="notification is-danger">
						{{ messages[0] }}
					</div>
					{% endif %}
					{% endwith %}
					<form class="form-signin text-center border border-light p-5" action="{{ url_for('login') }}" method="POST" >
						<div class="form-label-group">
							<input type="email" id="email_address" class="form-control" name="email_address" placeholder="Email address" required >
								<label for="email_address">Email address</label>
							</div>
							<div class="form-label-group">
								<input type="password" id="password" class="form-control" name="password" placeholder="Password" required>
									<label for="password">Password</label>
								</div>
								<div class="custom-control custom-checkbox mb-3">
									<input type="checkbox" class="custom-control-input" id="customCheck1">
										<label class="custom-control-label" for="customCheck1">Remember password</label>
									</div>
									<button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
									<hr class="my-4">
										<a href="{{ url_for('static', filename='../register' ) }}">Register Here</a>
									</form>
								</div>
								<!-- Address and Number Section -->
								<div class="col-md-3 text-center">
									<ul class="list-unstyled mb-0">
										<li>
											<i class="fas fa-map-marker-alt fa-2x"></i>
											<p>Mayo, Ireland</p>
										</li>

										<li>
											<i class="fas fa-phone mt-4 fa-2x"></i>
											<p>+ 01 234 567 89</p>
										</li>
									</ul>
								</div>

							</div>
						</section>
    </div>
					</div>
				</div>
				{% endblock %}