{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-12"><h1>Doggie Sleepover</h1></div>
  <div class="col-6 col-md-4">Sleepover Prices Here</div>
  <div class="col-12 col-md-8">Information on Grooming Here</div>
  <div class="col-6 col-md-4">Book A Session Here</div>
  <div class="col-12 col-md-8">Information on Daycare Here</div>
  <div class="col-12 col-md-4"><h1><a class="btn btn-primary btn-xl js-scroll-trigger" href="#grooming">Book Here</a></h1></div>
</div>
{% endblock %}