{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-12"><h1>{{page_title}}</h1></div>
 </div>

 <div class="container"> 
        <div class="row"> 
            <div class="col-lg-6 mb-4"> 
                <div class="card"> 
                    <img class="card-img-top" src="" alt=""> 
  
                    <div class="card-body"> 
                    <div class="cardbackground">
                    <div class="cardcontent"> 
                        <h2 class="card-title">Book A Night Stay For Your Doggie</h2> 
                        <p class="intro-text">We have a state of the art 5*Dog Hotel for our customers to avail of when it's time for them to go away on business or pleasure. 
                        <br>Dogs play away in daycare and stay in our luxury on-site hotel at the end of the day. 
                        <br>Dogs will be separated at night for their own safety, unless requested by customers with more than one dog.</p>
                        <h3>Book a night stay for your doggie below</h3>
                        <form action="{{ url_for('insert_booking') }}" method="POST">
  <div action="" method="POST" class="form-group">
    <label for="email_address">Enter Your Email address</label>
    <input type="email" class="form-control" name= "email_address" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="petname">Enter Your Pets Name</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name="petname" placeholder="Enter Your Pets Name">
  </div>
  <div class="form-group">
    <label for="service">Enter The Service Your Pet Requires</label>
    <input type="text" class="form-control" id="service" name="service" placeholder="Service Required">
  </div>

<div class="form-group">
    <label for="date">Choose Your Date</label>
    <input type="text" class="form-control" id="datepicker"  name="date" placeholder="Choose Your Date">
  </div>

   <div class="form-group">
    <label for="nights">How Many Nights?</label>
    <input type="text" class="form-control" id="nights" name="nights" placeholder="Nights Required">
  </div>
  <button type="submit" class="btn btn-primary">Submit Your Booking</button>
</form> 
<br>
  
                        <p><a href="contact" class="btn btn-sm"> 
                            <i class="fas fa-paw"></i></a>
                        <button onclick="window.location.href='{{ url_for('contact') }}';" class="button" ><span>Contact </span></button></p> 
                    </div> 
                </div> 
            </div> 
                </div>
            </div>
            
            <div class="col-lg-6 mb-4"> 
                <div class="card"> 
                    <img class="card-img-top" src="" alt=""> 
  
                    <div class="card-body"> 
                     {% for member in doggie %}
                    <div class="cardcontent">
                        <h5 class="card-title"><i class="fas fa-paw"></i><a href="{{ member.url }}">  {{ member.service }}</a></h5> 
                        <p class="card-text"> 
                           <p>{{ member.description }}</p>
                        </p> 
                           <p>
                        <img class="img-responsive img-fluid" src="{{ member.image_source }}" alt="Picture of {{ member.name }}">
                   <p><a href="grooming" class="btn btn-sm"> 
                            <i class="fas fa-paw"></i></a>
                        
                        
                        <button onclick="window.location.href='{{ member.url }}';" class="button" ><span>Enter</span></button>
                        </p>
                           </p>
                    </div>
                   {% endfor %}
                    </div> 
  </div>
                </div> 
            </div> 
            
        </div> 
    
{% endblock %}