
{% extends 'base.html' %}
{% block content %}
<div class="container">
<div class="row">
  <div class="col-12"><h1>{{page_title}}</h1></div>
</div>
<div class="row">
  <div class="col-4">DOGGIE SLEEPOVER</div>
  <div class="col-4">DOGGIE DAYCARE</div>
  <div class="col-4">DOGGIE GROOMING</div>
</div>
<div class="row">
  <div class="col-4">
  <div class="container">
  <div class="row">
    <div class="col-sm">
      One Night
    </div>
    <div class="col-sm">
      €20
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      2nd dog from same family
    </div>
    <div class="col-sm">
      €15
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      3rd dog from same family
    </div>
    <div class="col-sm">
      €10
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      One Week
    </div>
    <div class="col-sm">
      €140
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      Two Weeks
    </div>
    <div class="col-sm">
      €260
    </div>
  </div>
</div>
  
  </div>
  <div class="col-4">
  
<div class="container">
  <div class="row">
    <div class="col-sm">
      One Day
    </div>
    <div class="col-sm">
      €15
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      2nd dog from same family
    </div>
    <div class="col-sm">
      €10
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      One Week Rate
    </div>
    <div class="col-sm">
      €40
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      2nd Dog One Week Rate
    </div>
    <div class="col-sm">
      €30
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      Two Week Rate
    </div>
    <div class="col-sm">
      €70
    </div>
  </div>
</div>

  
  </div>
  <div class="col-4">
  
<div class="container">
  <div class="row">
    <div class="col-sm">
      Full Groom
    </div>
    <div class="col-sm">
      €40 - €70
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      Wash & Dry
    </div>
    <div class="col-sm">
      €20 - €60
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      Nails & Ears
    </div>
    <div class="col-sm">
      €10
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      DeShedding
    </div>
    <div class="col-sm">
      €40 - €90
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      Worming & Flea Treatment
    </div>
    <div class="col-sm">
      €20 - €40
    </div>
  </div>
</div>

  
  </div>
</div>
</div>



    <div class="aboutus-section">
    
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus-banner">
                        <img src="../static/assets/img/puppy.jpg" alt="" width= "200%">
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    
    
{% endblock %}

