{% extends 'base.html' %}
{% block content %}
    <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">{{page_title}}</h5>
            <div class="card card-profile border-secondary mb-3 mx-auto">
    <div>
      <h5 >Your username is: {{ email_address }}</h5>
      <h5 >Your username is: {{ petname }}</h5>
      <p class="card-text">
      <hr>
      You don't want to have a profile on our website anymore? No worries, you can delete your profile by clicking the button below.</p>
    </div>
    <div class="card-footer bg-transparent border-secondary mx-auto">
    <!-- Trigger modal confirmation deletion profile  ------->
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete Profile</button>
    </div>
</div>

            
          </div>
        </div>
      </div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        Do you wish to delete your profile?
      </div>
      <div class="modal-footer">
        <a href="{{ url_for('delete_profile', email_address=email_address) }}" type="button" class="btn btn-danger" >Delete</a>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto"> <div class="container"> 
        <div class="row"> 
            <div class="col-12"> 
               
                <div class="card"> 
                    <img class="card-img-top" src="" alt=""> 
  
                    <div class="card-body"> 
                    {% for member in doggie %}
                        <h5 class="card-title">{{ member.service }}
        </h5> 
                        <p class="card-text"> 
                           <p>{{ member.description }}</p>
                        </p> 
                          
                        <a href="#" class="btn btn-outline-primary btn-sm"> 
                            Card link 
                        </a> 
                        <img class="img-responsive" src="{{ member.image_source }}" alt="Picture of {{ member.name }}">
                   {% endfor %}
                    </div> 
                </div> 
            </div> 
            
        </div> 
    </div> 
      </div>
    </div>


  </div>

  
{% endblock %}