{% extends 'base.html' %} {% block content %}

<div class="container">
<!-- Title Section -->
<div class="row">
	<div class="col-12 display-4 pb-1"><i class="fas fa-paw"> Welcome To {{page_title}} </i></div>
</div>


<div class="container">
		<!-- Bootstrap Modal For Profile Delete -->
		<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
				aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Delete Profile</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						Are You Sure You Want To Delete Your Profile?
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<a href="{{ url_for('delete_profile', email_address=session['user'])}}" type="button" class="btn btn-danger" >Delete</a>
					                    </div>
				</div>
			</div>
		</div>
	</div>

<!-- Left Card Section -->
<div class="cardbackground ">
	<div class="cardcontent imageborder">
    <div class="scrim">
		<section class="mb-4">
			<p class="text-center w-responsive mx-auto mb-5"></p>
			<div class="container">
				
					<div class="row">
                    <div class="col-12 display-5 pb-1">View Profile Below</div>
                    <!-- View of all bookings-->
						{% for doggielogin in doggielogin %}
						<div class="table-responsive table-borderless ">
							<div class="text-center">
								<div class="row ">
									<div class="col-lg-1 mx-auto table-responsive-md ">
										<table class="table table-hover">
											<thead>
												<tr >
													<th>
														<div><h2><u>Email</u></h2></div>
													</th>
												</tr>
											</thead>
											<tbody>
												<tr >
													<th>

														<div> {{doggielogin.email_address}}</div>

													</th>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="col-lg-1 mx-auto table-responsive-md">
										<table class="table table-hover">
											<thead>
												<tr >
													<th>
														<div class="mx-5"><h2><u>Pet</u></h2></div>
													</th>
												</tr>
											</thead>
											<tbody>
												<tr >
													<th>
														<div class="mx-5">{{doggielogin.petname}}</div>
													</th>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="col-lg-1 mx-auto table-responsive-md">
										<table class="table table-hover">
											<thead>
												<tr >
													<th>
														<div><h2><u>Name</u></h2></div>
													</th>
												</tr>
											</thead>
											<tbody>
												<tr >
													<th>
														<div >{{doggielogin.first_name}}</div>
													</th>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="col-lg-1 mx-auto table-responsive-md">
										<table class="table table-hover">
											<thead>
												<tr >
													<th>
														<div><h2><u>Surname</u></h2></div>
													</th>
												</tr>
											</thead>
											<tbody>
												<tr >
													<th>
														<div>{{doggielogin.last_name}}</div>
													</th>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="col-lg-1 mx-auto table-responsive-md">
										<table class="table table-hover ">
											
											<tbody>
												<tr >
													<th>
                                                    <div><button
                                                   
                onclick="window.location.href='{{ url_for('editprofile', email_address=session['user'])}}';"
                class="button"
              >
                <span>Edit Profile </span>
              </button> </div>
													</th>
												</tr>

                                                <tr >
													<th>
                                                    <div>
                                                  <button type="button" class="button" data-toggle="modal" data-target="#basicExampleModal">
						Delete Profile
					</button>                                                    
                                                     </div>
													</th>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
		</section>
			</div>
		
	</div>
</div>
<!--Return Home Section --> 
<div class="cardbackground">
<div class="scrim">
	<div class="cardcontent imageborder">
		<div class="d-flex bd-highlight">
			<div class="p-2 flex-fill bd-highlight font-weight-bold">
				<div><i class="fas fa-suitcase"></i></div>
				<div>
					<a href="{{ url_for('index') }}"> Click Here To Return Home</a>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>

{% endblock %}
