{% extends 'base.html' %} {% block content %}

<div class="container">
<!-- Title Section -->
<div class="row">
	<div class="col-12"><h1>{{page_title}}</h1></div>
</div>
<!-- Left Card Section -->
<div class="cardbackground ">
	<div class="cardcontent">
		<section class="mb-4">
			<p class="text-center w-responsive mx-auto mb-5"></p>
			<div class="container">
				<div class="scrim">
					<div class="row">
                    <!-- View of all bookings-->
						{% for doggielogin in doggielogin %}
						<div class="table-responsive table-borderless ">
							<div class="text-center">
								<div class="row ">
									<div class="col-lg-1 mx-auto table-responsive-md ">
										<table class="table table-hover">
											<thead>
												<tr class="">
													<th>
														<div><h2><u>Email</u></h2></div>
													</th>
												</tr>
											</thead>
											<tbody>
												<tr class="">
													<th>

														<div> {{doggielogin.email_address}}</div>

													</th>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="col-lg-1 mx-auto table-responsive-md">
										<table class="table table-hover">
											<thead>
												<tr class="">
													<th>
														<div class="mx-5"><h2><u>Pet</u></h2></div>
													</th>
												</tr>
											</thead>
											<tbody>
												<tr class="">
													<th>
														<div class="mx-5">{{doggielogin.petname}}</div>
													</th>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="col-lg-1 mx-auto table-responsive-md">
										<table class="table table-hover">
											<thead>
												<tr class="">
													<th>
														<div><h2><u>Date</u></h2></div>
													</th>
												</tr>
											</thead>
											<tbody>
												<tr class="">
													<th>
														<div >{{doggielogin.first_name}}</div>
													</th>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="col-lg-1 mx-auto table-responsive-md">
										<table class="table table-hover">
											<thead>
												<tr class="">
													<th>
														<div><h2><u>Service</u></h2></div>
													</th>
												</tr>
											</thead>
											<tbody>
												<tr class="">
													<th>
														<div>{{doggielogin.last_name}}</div>
													</th>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="col-lg-1 mx-auto table-responsive-md">
										<table class="table table-hover ">
											
											<tbody>
												<tr class="">
													<th>
                                                    <div><button
                                                   
                onclick="window.location.href='{{ url_for('editprofile', email_address=session['user'])}}';"
                class="button"
              >
                <span>Edit Profile </span>
              </button>
													</th>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
<!--Return Home Section --> 
<div class="cardbackground">
	<div class="cardcontent">
		<div class="d-flex bd-highlight">
			<div class="p-2 flex-fill bd-highlight font-weight-bold">
				<div><i class="fas fa-suitcase"></i></div>
				<div>
					<a href="{{ url_for('index') }}"> Click Here To Return Home</a>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

{% endblock %}
